#screen{
	position: absolute;
    left: 0;
    top: 0;
    background: #000;
    z-index: 1000;
}



#dialog{
	width: 500px;
	min-height: 200px;
	padding: 20px;
	background: white;
}

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#left-sidebar {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:10%;
    float:left;
    padding:5px;
}

#right-sidebar {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:10%;
    float:left;
    padding:5px;
}

#content-body{
    width:80%;
    float:left;
    padding:10px;
}
#footer{
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}

