{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="utf-8">
	<title>Chile Ayuda</title>
	<link rel="stylesheet" href="{% static 'js/leaflet.css'%}"  >
	<link rel="stylesheet" href="{% static 'css/block.css'%}" />
	<link rel="stylesheet" href="{% static 'css/default.css'%}" />
	<link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.min.css'%}" />
	<script src="{% static 'js/leaflet.js'%}"></script>
	<link rel="stylesheet" href="{% static 'js/MarkerCluster.css'%}" />
	<link rel="stylesheet" href="{% static 'js/MarkerCluster.Default.css'%}" />
	<script src="{% static 'js/leaflet.markercluster.js' %}"></script>
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/map.js' %}"></script>

	<script type="text/javascript">
		$(function() {
					init_map("{{serializedMarks}}".replace(/&quot;/g, "\""),
					 	"{{serializedCategories}}".replace(/&quot;/g, "\""),
					 	"{{serializedCatastrophe}}".replace(/&quot;/g, "\""));
			}
		);
	</script>

    <title></title>
</head>
<body>
	<div class="container" style="margin-top: 30px;">
		<input id="actual-catastrophe" value="0" type="hidden">
			<div>
				<div class="row"><h1>{{catastrophe.name}}</h1></div>

				<div class="row">

					<div id="map"
						 class="leaflet-container leaflet-fade-anim"
						  style="float: left; width: 80%; height: 400px; min-width: 200px; position: relative;">
					</div>

					 <div style="float:left; width: 20%;">
					    <div style="width: 60% ; margin-left: auto ; margin-right: auto ;">
						<div class="panel panel-catbutton">
							<div class="panel-body-catbutton">
								<ul class="list-group list-categories">
									<li class="list-group-item list-button-item cat-all {{forloop.counter0}}">Todas</li>
									{% for category in categories %}
									<li categoria="{{category.style.id}}"class="list-group-item list-button-item filtro {{category.style}} {{forloop.parentloop.counter0}}">{{category.category}}</li>
									{% endfor %}
								</ul>
							</div>
						</div>
						</div>
					</div>

				</div>
			</div>
		<br>


	</div>

	<div id="screen">
	</div>

	<div id="dialog" title="Create new user">
		<form class="form-horizontal" method="post">{% csrf_token %}
			<fieldset>

			<!-- Form Name -->
			<legend>Agregar marcador</legend>

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label">Descripción</label>
			  <div class="col-md-4">
			  {{ markform.description }}

			  </div>
			</div>

			<!-- Select Basic -->
			<div class="form-group">
			  <label class="col-md-4 control-label">Categoría</label>
			  <div class="col-md-6">
				{{ markform.category }}
			  </div>
			</div>

			<!-- Button -->
			<div class="form-group">
			  <div class="col-md-6 col-md-offset-3">
				<button id="enviar" name="enviar" class="btn btn-info">Agregar</button>
				<button id="cerrar" name="cerrar" type="button" class="btn btn-info" onclick="">Cerrar</button>
			  </div>
			</div>
			<div>
				{{ markform.latitud }}
			</div>
			<div>
				{{ markform.longitud }}
			</div>
			<div>
				{{ markform.idmap }}
			</div>
			<div>
				{{ markform.catastrophe}}
			</div>

			</fieldset>
			</form>

	</div>

</body>
</html>